#include <physical_layouts.dtsi>

/ {
    kimi_physical_layout: kimi_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        // Reference to the kscan and matrix transform nodes
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                    w   h     x    y   rot rx  ry
            = <&key_physical_attrs  50  100   0    0   0   0   0>   // SW1(リセット用ボタン)
            , <&key_physical_attrs  100 100   120  0   0   0   0>   // SW2(左ボタン)
            , <&key_physical_attrs  100 100   240  0   0   0   0>   // SW3(中央ボタン)
            , <&key_physical_attrs  100 100   360  0   0   0   0>   // SW4(右ボタン)
            ;
    };
};

